//- var jade = require('jade'),
//-     fs   = require('fs'),
//-     path = require('path');

//- var fn = jade.compile(fs.readFileSync('index.jade', 'utf-8'), {
//-   filename: path.join(__dirname, 'index.jade'),
//-   pretty:   true
//- });

//- console.log(fn());

//- var jade = require('jade'),
//-     fs   = require('fs');

//- var fn = jade.compile(fs.readFileSync('index.jade', 'utf-8'), {
//-   basedir: __dirname,
//-   pretty:  true
//- });

//- console.log(fn());

h1= message
h2= error.status
pre= error.stack


