doctype html
html(lang="en")
  head
    title= title
      include partials/_head
    body
      header
        include partials/_header
      main
        div
          h1 THIS IS THE INDEX PAGE ON USER-DEBUGGING BRANCH
        div
          ul
            li
              a(href='/login') login
            li
              a(href='/signup') signup
      footer
        include partials/_footer
clear
